// Place all the styles related to the escalas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#teste{
 width: 4%;
}


div { text-align:center;}

#logo{	height: 160px;
position:relative; left: 20%;
}

#meio{
position:relative; left: 50%;
}

th{
text-align:center;
}

#es2{
margin:2px;
}

#escala_index {position:relative; left:20%;}
#texto_index {position:relative; left: 5%;}

#mes {background:#68ff89; color:#003831; font-size:14px;}

table td {vertical-align: text-top;}

#calendars-container { position: relative;
left: 5%;}

#nome_t{position:relative; left: 20%;}

#td{position:fixed; left:85%;}

#box{	height: 10px;
    width: 10px;
	background-color:#ff8100;}

#box2{	height: 10px;
    width: 10px;
	background-color:#fce86a;}

#box3{	height: 10px;
    width: 10px;
	background-color:#65c3ba;}

#box4{	height: 10px;
    width: 10px;
	background-color:#b44545;}
